parameters:
  availability_zone: <AVAILABILITY_ZONE>
  key_name: <KEY-PAIR-NAME>
  image: <IMAGE>
  flavor: <FLAVOR>
  network_id: <NETWORK-ID>
  http_proxy: <HTTP-PROXY>
  https_proxy: <HTTPS-PROXY>
